<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Only needed for Android 10 and below -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.jewelryapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Landing Activity (Launcher) -->
        <activity
            android:name=".activities.LandingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Register Activity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Admin Login Activity -->
        <activity
            android:name=".activities.AdminLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Home Activity -->
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Cart Activity -->
        <activity
            android:name=".activities.CartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Favorites Activity -->
        <activity
            android:name=".activities.FavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Add Product Activity -->
        <activity
            android:name=".activities.AddProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Manage Categories Activity -->
        <activity
            android:name=".activities.ManageCategoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activities.RingSizeActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>